*{
    margin: 0px 0px;
    padding: 0px 0px;
    /*remove it*/
    text-align: center;
    /*remove it*/
    box-sizing: border-box; 
}

body{
    background-color: darkgray;
}


nav{
    height: 56px;
    background-color: red;
    position: fixed;
    top: 0;
    width:100%;
    border: 2px solid aqua;
    
}

.active{
    visibility: visible;
    width: 75px;
    position: fixed;
    top: 56px;
    height: 100vh;
    left: 0;
    background-color: aqua;
    border: 2px solid black;
    
}

.none-active{
    width: 245px;
    visibility: hidden;
    position: fixed;
    top: 56px;
    height: 100vh;
    left: 0;
    background-color: aqua;
    border: 2px solid grey;
    z-index: 1;
}


.carousel{
    height: 56px;
    background-color:brown;
    position: fixed;
    top: 56px;
    width:94.45%;
    margin-left: 75px;
    text-align: center;
    border: 2px solid green;
    
}

main{
    background-color:coral;
    height:1200px;
    margin-left: 75px;
    margin-top: 112px;
    border: 2px solid blueviolet;
    
    
}

span{
    background-color: blue;
}










/*responsive layout*/
@media screen and (max-width: 1312px) {
    .none-active{
        top: 0px;
        /*height: 100vh;*/
        z-index: 1;
        
    }
    
   
}

@media screen and (max-width: 791px) {
    .active{
        visibility: hidden;
    }
    .none-active{
        visibility: hidden;
        width: 245px;
        top: 0px;
        height: 95vh;
    }
    
    
    .carousel{
        margin-left: 0px;
        width: 100%;
    }
    
    main{
        background-color:coral;
        height:1200px;
        margin-left: 0px;
        margin-top: 94px;
    }
}

